<h1>Welcome</h1>
<%if user_signed_in?%>
<%current_user.jobs.each do |j|%>
<h4>
<%=j.name%> radar trends for you
</h4>

<div class="row row-cols-1 row-cols-md-2 g-4">
<%j.newspapers.each do |n|%>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%=link_to n.name, n%></h5>
      </div>
<div class="row row-cols-1 row-cols-md-2 g-4">
<%n.articles.last(2).each do |n|%>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%=link_to n.title, n%></h5>
        <p class="card-text"><%= n.content.truncate(100)%></p>
        <p class="card-text"><%=n.author%></p>
      </div>
    </div>
  </div>
<%end%>
</div>

    </div>
  </div>
<%end%>
</div>
<%end%>
<%end%>
